<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1>Register</h1>
    <br>
    <form action="/users/register" method="post">
        User:<input type="text" name="username">
        <br>
        Pass:<input type="password" name="password">
        <br>
        
        <input type="submit" value="æäº¤"></input>
        
    </form>
</body>
</html>